.login {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 10;
}
.login-logo {
  width: max-content;
  height: 4rem;
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 11;
}
.login-box {
  width: max-content;
  height: max-content;
  padding: 3.5rem;
  z-index: 12;
  background-color: #000000;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 350px;
}
.login-box h3 {
  font-size: 3.5rem;
  color: #fff;
  margin: 0 0 1.5rem 0;
}
.form-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 2.5rem 0;
}
.form-box label {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 0 0.5rem 0;
}
.form-box input {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  outline: 0;
  border: 0;
  background-color: #404248;
  color: #fff;
}
.login-box button {
  font-size: 2.25rem;
  color: #fff;
  background-color: #de2144;
  outline: 0;
  border: 0;
  padding: 0.85rem 5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.35s;
}
.login-box button:hover {
  opacity: 0.85;
}
.divider {
  width: 100%;
  height: 1px;
  margin: 1.5rem 0;
  background-color: #656565;
}
@media screen and (max-width: 750px) {
  .login-box {
    min-width: 100%;
    padding: 2rem;
  }
}
